In [7]:
#Задание 1
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("./dz_files/dz1/movies.csv")
df1 = pd.read_csv("./dz_files/dz1/ratings.csv")
print(df)

      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]

In [9]:
print(df1)

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [10]:
df1 = df1.merge(df,how='outer',left_on=['movieId'],right_on=['movieId'])

In [11]:
print(df1)

        userId  movieId  rating     timestamp  \
0          1.0        1     4.0  9.649827e+08
1          5.0        1     4.0  8.474350e+08
2          7.0        1     4.5  1.106636e+09
3         15.0        1     2.5  1.510578e+09
4         17.0        1     4.5  1.305696e+09
...        ...      ...     ...           ...
100849     NaN    30892     NaN           NaN
100850     NaN    32160     NaN           NaN
100851     NaN    32371     NaN           NaN
100852     NaN    34482     NaN           NaN
100853     NaN    85565     NaN           NaN

                                     title  \
0                         Toy Story (1995)
1                         Toy Story (1995)
2                         Toy Story (1995)
3                         Toy Story (1995)
4                         Toy Story (1995)
...                                    ...
100849  In the Realms of the Unreal (2004)
100850            Twentieth Century (1934)
100851           Call Northside 777 (1948)
100852        Browning Version, The (1951)
100853                  Chalet Girl (2011)

                                             genres
0       Adventure|Animation|Children|Comedy|Fantasy
1       Adventure|Animation|Children|Comedy|Fantasy
2       Adventure|Animation|Children|Comedy|Fantasy
3       Adventure|Animation|Children|Comedy|Fantasy
4       Adventure|Animation|Children|Comedy|Fantasy
...                                             ...
100849                        Animation|Documentary
100850                                       Comedy
100851                        Crime|Drama|Film-Noir
100852                                        Drama
100853                               Comedy|Romance

[100854 rows x 6 columns]

In [17]:
def classify_movies(df1): 
    df1['class'] = '' 
    df1.loc[df1['rating'] <= 2, 'class'] = 'низкий рейтинг' 
    df1.loc[(df1['rating'] > 2) & (df1['rating'] <= 4), 'class'] = 'средний рейтинг' 
    df1.loc[(df1['rating'] == 4.5) | (df1['rating'] == 5), 'class'] = 'высокий рейтинг' 
    return df1

In [18]:
classify_movies(df1)

,userId,movieId,rating,timestamp,title,genres,class
0,1.0,1,4.0,9.649827e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,средний рейтинг
1,5.0,1,4.0,8.474350e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,средний рейтинг
2,7.0,1,4.5,1.106636e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,высокий рейтинг
3,15.0,1,2.5,1.510578e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,средний рейтинг
4,17.0,1,4.5,1.305696e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,высокий рейтинг
...,...,...,...,...,...,...,...
100849,NaN,30892,NaN,NaN,In the Realms of the Unreal (2004),Animation|Documentary,
100850,NaN,32160,NaN,NaN,Twentieth Century (1934),Comedy,
100851,NaN,32371,NaN,NaN,Call Northside 777 (1948),Crime|Drama|Film-Noir,
100852,NaN,34482,NaN,NaN,"Browning Version, The (1951)",Drama,
100853,NaN,85565,NaN,NaN,Chalet Girl (2011),Comedy|Romance,

In [19]:
df = pd.read_csv("./dz_files/dz2/keywords.csv")

In [20]:
print(df)

                       keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
...                        ...       ...
99995   эльдорадо старый оскол      3705
99996      frigate для firefox      3630
99997                   укрсиб      3630
99998  погода в ялте на неделю      3688
99999                     ггму      3630

[100000 rows x 2 columns]

In [51]:
def geo_classifier(keyword):
    geo_data = {
        'Центр': ['москва', 'тула', 'ярославль'],
        'Северо-Запад': ['петербург', 'псков', 'мурманск'],
        'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }

    for region, cities in geo_data.items():
        for city in cities:
            if city in keyword:
                return region

    return 'undefined'

In [54]:
df['region'] = df.apply(geo_classifier, axis=1)

In [60]:
print(df)

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]